

@{
    ViewBag.Title = "AdminPersonajes";
}

<style>
    body {
        background-color: deepskyblue;
    }


</style>
}

<h2>AdminPersonajes</h2>

<table style="width:100%">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Categoria</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
    @foreach (QEQ_09.Models.Personaje p in ViewBag.Personaje)
    {
        <tr>
            <td>@p.IdPersonaje</td>
            <td>@p.Nombre1</td>
            <td>@p.Fk_Categoria</td>
            <td>@Html.ActionLink("🖊️", "AMPersonaje", "Home", new { Accion = "Modificar", Id = p.IdPersonaje, Nombre = p.Nombre1, Categoria = p.Fk_Categoria }, null)</td>
            <td>@Html.ActionLink("🗑 ", "AMPersonaje", "Home", new { Accion = "Eliminar", Id = p.IdPersonaje }, null)</td>
        </tr>
    }
</table>
<td>@Html.ActionLink("️Isertar Nuevo ✝", "AMPersonaje", "Home", new { Accion = "Agregar", Id = -1, Nombre = "", Categoria = 0 }, null)</td>
