<style>
    body {
        background-color: deepskyblue;
    }
</style>

<h2>Caracteristicas</h2>
<form action="@Url.Action("InsertarCarPer","Home")" method="post">
    @foreach (QEQ_09.Models.CategoriaCaracteristica c in ViewBag.Categorias)
    {
        <h3>@c.Nombre</h3> <br />

        foreach (QEQ_09.Models.Caracteristicas carPer in ViewBag.CaracteristicasPer)
        {
            if (carPer.Fk_Categoria == c.Id)
            {
                <label>Valor actual: @carPer.Caracteristica1</label> <br />
            }
        }
        <select name="caracteristicas[]">
            @foreach (QEQ_09.Models.Caracteristicas car in ViewBag.Caracteristicas)
            {
                if (car.Fk_Categoria == c.Id)
                {
                    <option value="@car.IdCaracteristica">@car.Caracteristica1</option>
                }
            }
        </select> <br />
    }

    <input type="hidden" name="idPersonaje" value="@ViewBag.idPersonaje" />
    <input id="submit" type="submit" value="Guardar" />
</form>