@using QEQ_09.Models
@model Pregunta

@{
    ViewBag.Title = "InsertarPregunta";

}

<style>
    body {
        background-color: deepskyblue;
    }
</style>
}

<h2>InsertarPregunta</h2>

@using (Html.BeginForm("AnadirPregunta", "Home"))
{
    <p>Preguntas: @Html.TextBoxFor((x => x.Preguntas), (object)ViewBag.Enabled) @Html.ValidationMessageFor(x => x.Preguntas)</p><br />
    <p>IDCategoria: @Html.TextBoxFor((x => x.IdCategoria), (object)ViewBag.Enabled) @Html.ValidationMessageFor(x => x.IdCategoria)</p><br />

    <input id="submit" type="submit" value="Insertar" />
}


<h3>@ViewBag.MensajeError</h3>
